.heading-text {
  font-family: b612, sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0 25px 0;
  color: var(--primary-text-color);
}

h1, .title-text {
  font-family: b612, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-text-color);
  border-left: var(--primary-color) 8px solid;
  padding-left: 0.3em;
}

h2, .subtitle-text {
  font-family: b612, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--primary-text-color);
}

.text {
  font-family: b612, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.216rem;
  word-spacing: 0.432rem;
  color: var(--primary-text-color);
}

.subtext {
  font-family: b612, sans-serif;
  font-size: 1em;
  font-weight: 400;
  //letter-spacing: 0.14em;
  //word-spacing: 0.28em;
}
